{% extends 'cours/base.html' %}
{% block content %}

<div class="stats">
    <div class="stat-card">
        <h3>{{ cours_list|length }}</h3>
        <p>📚 Total des cours</p>
    </div>
</div>

<!-- BARRE DE RECHERCHE -->
<form method="GET" action="{% url 'cours-list' %}">
    <div class="search-bar">
        <input
            type="text"
            name="q"
            value="{{ query }}"
            placeholder="🔍 Rechercher un cours ou un enseignant...">
        <button type="submit" class="btn btn-add">🔍 Rechercher</button>
        {% if query %}
        <a href="{% url 'cours-list' %}" class="btn btn-edit">❌ Effacer</a>
        {% endif %}
        <a href="{% url 'cours-create' %}" class="btn btn-add">+ Ajouter</a>
    </div>
</form>

{% if query %}
<p style="color:#555; margin-bottom:10px;">
    Résultats pour : <strong>{{ query }}</strong>
    ({{ cours_list|length }} résultat(s))
</p>
{% endif %}

<table id="coursTable">
    <thead>
        <tr>
            <th>📖 Titre</th>
            <th>👨‍🏫 Enseignant</th>
            <th>📅 Date de publication</th>
            <th>⚙️ Actions</th>
        </tr>
    </thead>
    <tbody id="coursBody">
        {% for cours in cours_list %}
        <tr>
            <td>{{ cours.titre }}</td>
            <td>{{ cours.enseignant }}</td>
           <td>{{ cours.date_publication|date:"d F Y" }}</td>
            <td>
    {% if user.is_authenticated %}
    <a href="{% url 'cours-update' cours.pk %}" class="btn btn-edit">✏️ Modifier</a>
    <a href="{% url 'cours-delete' cours.pk %}" class="btn btn-delete">🗑️ Supprimer</a>
    {% else %}
    <span style="color:#999;">🔒 Connexion requise</span>
    {% endif %}
</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" style="text-align:center; padding:30px; color:#999;">
                {% if query %}
                    Aucun résultat pour "{{ query }}"
                {% else %}
                    Aucun cours disponible.
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}